<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Спортивные программы для красивого тела">
    <title>Motivation - Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <header id="header" class="header">
        <div class="main-header">
            <!--div class="container"-->
                <div class="row">
                    <div class="col-lg-3 logotip">
                        <h2>Логотип</h2>
                    </div>
                    <div class="col-lg-6">
                        <nav>
                            <ul class="menu d-flex justify-content-between">
                                <li class="menu__item">
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Menu</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Reservation</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Blog</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Pages</a>
                                </li>
                                <li class="menu__item">
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <button class="book">
                            <span class="book__icon">
                                Вход
                            </span>
                        </button>
                    </div>
                </div>
            <!--/div-->
        </div>
        <div class="offer">

        </div>
    </header>
    <section id="logo" class="logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title">
                        <h1 class="title__heading">
                            Open the way
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="call" class="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="program"> Авторская программа online тренировок Виктории Шельдешовой</p>
                    <p>✔️ Самый полезный контент о твоём здоровье</p>
                    <p>✔️ Грамотные программы и задания тренировок на каждый день</p>
                    <p>✔️ Простое и доступное Меню от нутрициолога проекта</p>
                    <p>✔️ Мотивация от команды СИЛОВОЙ</p>
                    <p>✔️ Мощная поддержка в кругу таких же единомышленников</p>
                </div>
            </div>
        </div>
        <div class="register__form">
            <div class="register-text">
                <h1>Записаться на марафон</h1>
            </div>
            <form>
                <div class="row justify-content-md-center form-for-marafon">
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="Имя">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="Почта">
                    </div>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="Телефон">
                    </div>
                    <button type="button" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>
    </section>
    <section id="season" class="season">
        <div class="container">
            <h1 class="season-h1">Сезон №4</h1>
            <div class="row">
                <div class="col-lg-12">
                    <h2>27 апреля стартует самый ожидаемый,самый горячий сезон</h2>
                    <h3>Для кого подходит такая программа тренировок и питания:</h3>
                    <p>⇨ Для тех,кто не находит времени на регулярные посещения спортзала</p>
                    <p>⇨ Для мам в декрете,которые Любят себя и хотят привести в порядок своё тело и питание в порядок</p>
                    <p>⇨ Кто готов ощутить на себе всю эффективность программы по снижению веса и красивого тела от Виктории Шельдешовой</p>
                    <p>⇨ Кто не боится сделать шаг к лучшей себе</p>
                    <h2>-ОТКРОЙ ПУТЬ К СЕБЕ-</h2>
                </div>
            </div>
        </div>
    </section>
    <section id="review-video"
    class="review-video">
        <div class="container">

        </div>
    </section>
    <section id="review-text" class="review-text">
        <div class="container">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <p class="review-comments">Я сегодня таки сделала замеры:Грудь,талия и бедра по -1 см.Но ноги:в ляшках над коленями (не знаю как ее назвать)
                        по - 2-3 см.Это же просто БОМБА. Ноги у меня стройнеют сложнее всего,обожаю вас девочки! Питание теперь мой выбор forever
                        вкусно и легко.Ну а тренировки, могу уверено сказать, что наша Виктория лучший тренер на планете!
                        Я обошла все спорт-клубы столицы,по этому знаю о чем говорю</p>
                    </div>
                    <div class="carousel-item">
                        <p class="review-comments">Я человек сладкоежка.Без сахара я не видела жизни. Это мой второй марафон.Я совершенно не ем сахар(только сироп агавы иногда добавляю в чай)
                        у меня не болит желудок.Я перестала переедвать я стала выпивать свою норму чистой воды, не ем больше хлеб и булки.
                        Заменила перекусы на ягоды до 16:00 и чувствую себя позитивние.В объемах я ушла, а в весе - 2.7 кг</p>
                    </div>
                    <div class="carousel-item">
                        <p class="review-comments">Виктория и Юлия, Вам большое! Я в восторге от тренировко и питания! Узнала очень много нового на нашем марафоне. Потеряла 2.8кг.
                        Буду продолжать и дальше участвовать в Вашем марафоне, Вы самые лучшие!</p>
                    </div>
                     <div class="carousel-item">
                        <p class="review-comments">Спасибо огромное! Минус 2кг, и по 2 см по всем параметрам. В восторге от качества тренировок,я спортсменка в прошлом по этому знаю
                        о чем говорю.Главное открытие это то,что не обязательно "Умирать" полтора-два часа в зале что бы добиться результатов! Юлия благодарю ,
                        много полезной информации по питанию получила! И конечно буду продолжать.</p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>
    <footer class="foot">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="time_footer">Время записи:</h3>
                    <ul>
                        <li>Понедельник - Пятница: 9:00 AM - 20:00 PM</li>
                        <li>Суббота - Воскресенье: 10:00 AM - 18:00 PM</li>
                    </ul>
                </div>
                <div class="col-lg-6 foot_number">
                    <img class="phone_img" src="{% static 'img/phone1.svg' %}" alt="">
                    <a class="a_phone" href="#">+380975251208 Tel./Telegram</a>
                </div>
            </div>
            <hr class="hr_foot">
            <div class="row">
                <div class="col-lg-12 inst_face">
                    <a href="#">
                        <img class="face_photo" src="{%static 'img/facebook.svg' %}" alt="">
                    </a>
                    <a href="#">
                        <img class="inst_photo" src="{%static 'img/instagram.svg' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>